$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$layout-col-padding: 10px;

@mixin column-padding {
    padding: $layout-col-padding;
}

$help-text-color: #6c757d;
