@use "base";
@import "normalize.css";
@import "layout";

* {
    font-family: Helvetica, serif;
}

.text-center {
    text-align: center;
}

.help-text {
    color: base.$help-text-color;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
