@use "base";
@import "normalize.css";
@import "layout";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

* {
    font-family: base.$font-family;
}

.text-center {
    text-align: center;
}

.help-text {
    color: base.$help-text-color;
}

.d-inline-block {
    display: inline-block;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
